@model Entities.Testemonial

<style>
    .img-pro-box {
        width: 17%;
        margin: 1rem;
        border-radius: 10px;
    }


    .error {
        font-size: 1rem;
        width: 100%;
    }
</style>

<div class="adminpage-head">
    <div class="card shadow mb-4">
        <div class="form-horizontal">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4>Add Testimonial</h4>
            </div>
            <hr />
            <div class="card-body">
                <form id="tes-create"> 
                    <div class="form-group">
                        <label class="control-label">Name</label><br />
                        <input class="form-control" name="Name" required />
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Testimonial</label><br />
                        <textarea class="form-control" name="Testimonial" required></textarea>
                    </div>

                    <div class="d-flex">
                        <div class="form-group">
                            <div class="">
                                <button value="Create" id="tescreate" class="btn btn-default btn-outline-primary">Create</button>
                            </div>
                        </div>
                        <div class="form-group ml-3">
                            <div class="">
                                <a id="tes-close" class="btn btn-default btn-outline-danger">Close</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    $("#tes-close").click(function () {
        $("#tes-add-container").hide();

    });

    $('#tes-create').validate({
        rules: {
            Name: {
                required: true,
            },
            Testimonial: {
                required: true,
            },
        },
        messages: {
            Name: {
                required: '* Info Name is required',
            },
            Testimonial: {
                required: '* Info Testimonial is required',
            },
        }
    });

    $("#tescreate").click(function (e) {
        e.preventDefault();
        if ($("#tes-create").valid()) {
            $.ajax({
                type: 'Post',
                url: '@Url.Action("TestimonialsAdd", "Admin")',
                data: $("#tes-create").serialize(),
            })
            .done(function (response) {
                if (response == "true") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Testimonail added successfully',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setTimeout(function () {// wait for 5 secs(2)
                        window.location.reload(); // then reload the page.(3)
                    }, 1550);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
                })
            });
         }
     });

</script>

