@model CcAvenueViewModel
<form method="post" id="paymentForm" action="@Model.CheckoutUrl">
    <input type="hidden" id="encRequest" name="encRequest" value="@Model.EncryptionRequest" />
    <input type="hidden" id="access_code" name="access_code" value="@Model.AccessCode" />
</form>
<div class="row" style="text-align:center">
    <div class="small-12 large-12">
        <h2 class="text-center">Processing...</h2>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
 $("#paymentForm").submit();
</script>
