
@{
    ViewBag.Title = "Privacy Policy+";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .section-heading h2 {
        font-size: 34px;
        font-weight: 700;
        color: var(--dark);
    }

    li {
        display: list-item;
        list-style-type: disc;
        color: var(--primary);
    }

    .lt {
        list-style-type: decimal !important;
    }
</style>

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top" style=" background-image: url(../Content/Images/products-page-heading.jpg);">
    <div class="container d-none">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Check Our Products</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="products-h2">Privacy Policy</h2>
                </div>
                <hr>
                <div class="Content pt-5">
                    <ul typeof="">
                        <li class="pb-2">
                            Floral Fiesta is committed to protecting your privacy at all costs. We will only use the information that we collect about you lawfully to process your order and to provide you with the best possible service.
                            <br />The type of information includes -
                            <ul class="pl-3">
                                <li class="lt">
                                    Sender’s Name
                                </li>
                                <li class="lt">
                                    Receiver’s Name
                                </li>
                                <li class="lt">
                                    Receiver’s Address
                                </li>
                                <li class="lt">
                                    Sender/Receiver’s Phone Number
                                </li>
                                <li class="lt">
                                    Sender’s email address.
                                </li>
                            </ul>
                        </li>
                        <li class="pb-2">
                            We shall not spam you with emails unless you subscribe for the same. We will never collect any sensitive information or share your data outside with other companies.
                        </li>
                        <li class="pb-2">
                            The information we hold will be accurate and up to date. It is possible to obtain a copy of the information that we hold about you. If you find any inaccuracies we will delete or correct them promptly. Should you require a copy of such information, please email us at: <a href="mailto:info@floralfiesta.in" style="color:var(--dark)">info@floralfiesta.in</a>.
                        </li>
                        <li class="pb-2">
                            Cookies are also used as a further means of ensuring private and secure purchase sessions are operated within the site.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

