
@{
    ViewBag.Title = "Returns & Refunds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .section-heading h2 {
        font-size: 34px;
        font-weight: 700;
        color: var(--dark);
    }

    li {
        display: list-item;
        list-style-type: disc;
        color: var(--primary);
    }
</style>

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top" style=" background-image: url(../Content/Images/products-page-heading.jpg);">
    <div class="container d-none">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Check Our Products</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="products-h2">Returns & Refunds</h2>
                </div>
                <hr>
                <div class="Content pt-5">
                    <ul typeof="">
                        <li class="pb-2">
                            All sales are final.
                        </li>
                        <li class="pb-2">
                            As flowers are perishable items, we do not issue refunds, returns, or exchanges.
                        </li>
                        <li class="pb-2">
                            The personalised hampers and bouquets are specially created according to your preferences and hence once the product is made, we do not issue any refund, return, or exchange.
                        </li>
                        <li class="pb-2">
                            As all flowers are not always in season, or not in stock, we reserve the right to substitute them with a similar “look” and feel without prior consultation. We will do our utmost to make the arrangement as close to the advertised picture as possible. If you require a specific product, please call and check for its availability on the number provided before placing an order.
                        </li>
                        <li>
                            Delivery times are generalised to four slots. We request you choose the best possible time according to the receiver's availability as no changes can be made later on. We do not do “midnight” deliveries.
                        </li>
                        <li class="pb-2">
                            It is your responsibility, as a sender, to ensure that the correct address and contact no. of the recipient has been provided. We won’t entertain any last-minute requests for any change in the address or delivery time. All changes need to be informed at least 5 hours prior.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

