
@{
    ViewBag.Title = "Terms & Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .section-heading h2 {
        font-size: 34px;
        font-weight: 700;
        color: var(--dark);
    }

    li {
        display: list-item;
        list-style-type: disc;
        color: var(--primary);
    }
</style>

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top" style=" background-image: url(../Content/Images/products-page-heading.jpg);">
    <div class="container d-none">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Check Our Products</h2>
                    <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<section class="section" id="products">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="products-h2">Terms & Conditions</h2>
                </div>
                <hr>
                <div class="Content pt-5">
                    <ul typeof="">
                        <li class="pb-2">
                            Products are subject to availability. If we are unable to supply your chosen item we reserve the right to substitute a product of equivalent value, quality, and color.
                        </li>
                        <li class="pb-2">
                            If we are unable to provide your chosen item or a suitable substitution we will inform you as soon as possible.
                        </li>
                        <li class="pb-2">
                            Flowers are priced according to seasonal availability. There might be cases where we may not be able to provide you with certain seasonal items, however, we still reserve the right to provide you with the best possible substitution.
                        </li>
                        <li class="pb-2">
                            Prices are inclusive of GST.
                        </li>
                        <li>
                            Prices for customised hampers, bouquets, wedding essentials, and decor can be confirmed via WhatsApp as they are subject to change.
                        </li>
                        <li class="pb-2">
                            Delivery charges will not be applicable within the specified area. If you request delivery to areas which we don't normally normally delivered to, you will be advised of any additional charges as soon as possible upon receipt of your Order Form.
                        </li>
                        <li class="pb-2">
                            By ordering from Floral Fiesta, you are deemed to have read and accepted our Terms & Conditions.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

